[package]
name = "feos"
version = "0.1.0"
authors = ["Gernot Bauer <bauer@itt.uni-stuttgart.de>", "Philipp Rehner <rehner@itt.uni-stuttgart.de>"]
edition = "2018"

[lib]
crate-type = ["cdylib"]

[dependencies]
quantity = "0.3"
feos-core = "0.1"
feos-dft = { git = "https://github.com/feos-org/feos-dft", branch = "main" }
feos-pcsaft = { git = "https://github.com/feos-org/feos-pcsaft", branch = "main", features = ["python"] }

[dependencies.pyo3]
version = "0.14"
features = ["extension-module", "abi3", "abi3-py36"]

[features]
default = ["openblas-system"]
openblas-system = ["feos-pcsaft/openblas-system"]
openblas-static = ["feos-pcsaft/openblas-static"]
intel-mkl-system = ["feos-pcsaft/intel-mkl-system"]
intel-mkl-static = ["feos-pcsaft/intel-mkl-static"]
netlib-system = ["feos-pcsaft/netlib-system"]
netlib-static = ["feos-pcsaft/netlib-static"]
