[package]
name = "feos"
version = "0.2.1"
authors = ["Gernot Bauer <bauer@itt.uni-stuttgart.de>", "Philipp Rehner <prehner@ethz.ch>"]
edition = "2018"
rust-version = "1.53"
readme = "README.md"
license = "MIT OR Apache-2.0"
description = "FeOs - A framework for equations of state and classical density functional theory."
homepage = "https://github.com/feos-org"
repository = "https://github.com/feos-org/feos"
keywords = ["physics", "thermodynamics", "equations_of_state", "phase_equilibria", "density_functional_theory"]
categories = ["science"]

[lib]
crate-type = ["cdylib"]

[dependencies]
quantity = "0.5"
feos-core = "0.2"
feos-dft = "0.2"
feos-pcsaft = { version = "0.2", features = ["python"] }
feos-gc-pcsaft = { version = "0.1", features = ["python"] }
feos-fcsaft = { path = "../feos-fcsaft", features = ["python"] }
feos-pets = { version = "0.1", features = ["python"] }
feos-uvtheory = { git = "https://github.com/feos-org/feos-uvtheory", features = ["python"], tag = "v0.1.0" }
feos-estimator = { git = "https://github.com/feos-org/feos-estimator", features = ["python"], tag = "v0.1.0" }
numpy = "0.16"
ndarray = { version = "0.15", features=["approx"] }
petgraph = "0.6"

[dependencies.pyo3]
version = "0.16"
features = ["extension-module", "abi3", "abi3-py37"]
