name: Build Wheels
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
jobs:
  linux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: 3.9
      - name: Build Wheels
        uses: messense/maturin-action@main
        with:
          manylinux: auto
          command: build
          args: --release --out dist --no-sdist --cargo-extra-args "--features full"
      - name: Upload wheels
        uses: actions/upload-artifact@v2
        with:
          name: dist
          path: dist
  macos:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: 3.9
          architecture: x64
      - name: Install Rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          profile: minimal
          default: true
      - name: Build wheels - x86_64
        uses: messense/maturin-action@main
        with:
          target: x86_64
          args: --release --out dist --no-sdist --cargo-extra-args "--features full"
      - name: Build wheels - universal2
        uses: messense/maturin-action@main
        with:
          args: --release --universal2 --out dist --no-sdist --cargo-extra-args "--features full"
      - name: Upload wheels
        uses: actions/upload-artifact@v2
        with:
          name: dist
          path: dist
  windows:
    runs-on: windows-latest
    strategy:
      matrix:
        target: [x64, x86]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: 3.9
          architecture: ${{ matrix.target }}
      - name: Install Rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          profile: minimal
          default: true
      - name: Build wheels
        uses: messense/maturin-action@main
        with:
          target: ${{ matrix.target }}
          args: --release --out dist --no-sdist --cargo-extra-args "--features full"
      - name: Upload wheels
        uses: actions/upload-artifact@v2
        with:
          name: dist
          path: dist
