name: Build Wheels
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
jobs:
  linux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: 3.11
      - name: Build Wheels
        uses: PyO3/maturin-action@v1
        with:
          manylinux: auto
          command: build
          args: >
            --profile debug
            --manifest-path py-feos/Cargo.toml
            --out dist
      - name: Upload wheels
        uses: actions/upload-artifact@v4
        with:
          name: wheel-linux-x86_64
          path: dist
  macos-x86_64:
    runs-on: macos-14
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: 3.11
          architecture: x64
      - name: Build wheels - x86_64
        uses: PyO3/maturin-action@v1
        with:
          target: x86_64
          args: >
            --profile debug
            --manifest-path py-feos/Cargo.toml
            --out dist
      - name: Upload wheels
        uses: actions/upload-artifact@v4
        with:
          name: wheel-macos-x86_64
          path: dist
  macos-aarch64:
    runs-on: macos-14
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: 3.11
          architecture: arm64
      - name: Build wheels - aarch64
        uses: PyO3/maturin-action@v1
        with:
          target: aarch64
          args: >
            --profile debug
            --manifest-path py-feos/Cargo.toml
            --out dist
      - name: Upload wheels
        uses: actions/upload-artifact@v4
        with:
          name: wheel-aarch64-apple-darwin
          path: dist
  windows:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: 3.11
          architecture: x64
      - name: Build wheels
        uses: PyO3/maturin-action@v1
        with:
          target: x64
          args: >
            --profile debug
            --manifest-path py-feos/Cargo.toml
            --out dist
      - name: Upload wheels
        uses: actions/upload-artifact@v4
        with:
          name: wheel-windows-x86_64
          path: dist
